:root {
    --color1: #ebe5e2;
    --color2: #F5F7FA;
    --color3: #83cfdf;
    --color4: #708ed2;
    --color5: #378B29;
    --color6: #373b69;
    --color7: #272532;
    --color8: #204;
}

body {
    font-family: 'Roboto','Raleway', sans-serif;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    /*text-align: left;*/
    text-align: center;
    border-bottom: 1px solid #ddd;
}

tr:first-child {
    background-color: var(--color6);
    color: var(--color1);
    text-align: center;
}

table caption {
    font-weight: bold;
}

table tr:not(:first-child) {
    cursor: pointer;
}

tr:nth-child(even) {
    background-color: var(--color2);
}

table tr:not(:first-child):hover {
    cursor: pointer;
    background-color: var(--color1);
    color: var(--color8);
}

caption{
    margin-bottom: 10px;
}

h1{
    text-align: center;
}

img {
    width: 70px;
    height: 100px;
}