<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Movie Search</title>
</head>
<body>
<script th:inline="javascript">
    function saveMovieDetailsToServer(movieTitle) {
        fetch("/movies/search", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
            },
            body: `movieName=${encodeURIComponent(movieTitle)}`,
        })
            .then(response => response.json())
            .then(data => {
                console.log('Movie details saved to server:', data);
            })
            .catch(error => {
                console.error('Error saving movie details to server:', error);
            });
    }
</script>
</body>
</html>
